/*carousel image resizing*/
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.9rem;
}

body {
    background-image: url("/bdy_bg_silver.jpg");
}

.whitetext {
    color: white;
    /* margin-left: 8rem; */
}

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }

.item, img{
    height: 100% !important;
    width:  100% !important;
    /* border: 1px solid red; */
}

.ul-lst-grp-item:hover {
    background-color: #EEF9FA;
}

.mycardimensions {
    width: 11.3rem;
    margin: 10px;
}

.card-title {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    text-align: center;
    font-size: 0.7rem;
}

.card-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:0.8rem;
    font-weight: bold;
    text-align: right;
}

.my-btn-primary {
    color: #fff;
    background-color: #5fb95e;
    border: none;
    width: 8rem;
  }
  
.my-btn:hover {
    background-color: darkgreen;
}

  .card {
    float:left;
  }

.my-footer {
    height:80px;
    background-color: rgb(2, 2, 58);
    color:grey;
}

.center-div {
    display:flex;
    align-items: center;
    justify-content: center;
}
/* table cells right padding*/
.table1-cell {
    border-right:1px solid darkslategrey;
    padding-right: 2rem;
}

/*table cells left padding*/
.table2-cell {
    padding-left: 2rem;
}
footer a {
    color:gray;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

.modal-header {
    background-color: rgb(4, 6, 59);
    color:white;
}

.agricofficerinput {
    width: 300px;
    height: 25px;
    background-color: rgba(233, 229, 229, 0.814);
    border:0;
    align-items:center;
    margin-left: auto;
    margin-right:auto;
    box-shadow: 3px 5px 5px 3px slategrey;
}

.childinput {
    background-color: rgba(233, 229, 229, 0.814);
    border:0;
    align-items:center;
    margin-left: auto;
    margin-right:auto;
    box-shadow: 3px 5px 5px 3px slategrey;
    outline: none;
}

.childinput:hover {
    box-shadow: 3px 5px 5px 3px rgb(4, 6, 59);
}

.smallchildinput {
    width: 50px;
    background-color: rgba(233, 229, 229, 0.814);
    border:0;
    align-items:center;
    margin-left: auto;
    margin-right:auto;
    box-shadow: 3px 5px 5px 3px slategrey;
    outline: none;
}

.smallchildinput:hover {
    box-shadow: 3px 5px 5px 3px rgb(4, 6, 59);
}

.modal-body {
    margin-left: auto;
    margin-right: auto;
}

label {
    margin-left: auto;
    margin-right:auto;
}
.agricofficerinput:focus {
    outline:none;
    background-color: white;
}

.agricofficerinput:hover {
    box-shadow: 3px 5px 5px 3px rgb(4, 6, 59);
}

#frm-btn-ao {
    background-color: #2c632c;
    color: white;
    width: 50%;
    height: 40px;
    border: 0;
    border-radius: 0 10px 0 10px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    text-align: center;
}

.select-drpdwn {
    width: 300px;
    height: 30px;
    background-color: rgba(233, 229, 229, 0.814);
    text-align: left;
    outline: none;
    border: 0;
    box-shadow: 3px 5px 5px 3px slategrey;
}

.select-drpdwn:hover {
    box-shadow: 3px 5px 5px 3px rgb(4, 6, 59);

}

.textarea1 {
    width: 300px;
    outline: none;
    border: 0;
    background-color: rgba(233, 229, 229, 0.814);
    box-shadow: 3px 5px 5px 3px slategrey;
}

.textarea1:hover {
    box-shadow: 3px 5px 5px 3px rgb(4, 6, 59);
}

#frm-btn-ao:hover {
    background-color: rgb(4, 6, 59);
}

.modal-footer {
    font-size: 10px;
    display:block;
    text-align: center;
}

.regfrmborder {
    background-image: url("dbg1.webp");
    opacity: 0.9;
    margin-top: 20px;
    border: 1 solid rgb(92, 90, 90);
    box-shadow: 10px 20px 20px 10px black;
    border-radius: 20px 0 20px 0px;
    padding-left: 3rem;
}

#frmDate {
    width: 300px;
    background-color: rgba(233, 229, 229, 0.814);
    border: 0;
}

#frmDate:focus {
    outline: none;
}

#sex:hover {
    box-shadow: 3px 5px 5px 3px slategrey;
}

.imgfix {
    width: 50px;
    height: auto;
}
